.cart-container {
    
    max-width: 600px;
    margin: 0 auto;
  }
  .head{
    padding: 0px;
    margin: 0%;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-details {
    flex-grow: 1;
  }
  
  .cart-controls {
    display: flex;
    align-items: center;
  }
  
  .cart-controls button {
    margin: 0 5px;
  }
  
  .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .cart-total {
    padding: 0px;
    text-align: right;
  }
  
 
  