.Product_Image{
    width: 500px;
    
}
.Product_Cart{
    margin-top: 60px;
    width: 70%;
    min-height: 500px;
    /* background-color: #fff; */
    /* rgb(239,238,235); */
    border: solid white; 
    border-bottom: solid rgb(239,238,235);
    border-right: solid rgb(239,238,235);;
    border-radius: 10px;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    overflow: hidden;

    

}

.Detail{
    margin: 50px;
}
.P_title{
    margin: 0%;
    padding-left:  10px;
    padding-top: 10px;
    display: inline;
}
.P_price{
    margin: 0%;
    padding-left:  10px;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: middle;
    
    
}
.arrowImage{
    width: 15px;
    text-align: right;
    justify-content: right;
    
    /* margin: auto; */
}

.P_gram{
    float: right;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(239,238,235);;
}
.product_description{
    padding: 10px;
    margin: 0%;
}
.Card_Display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     
}


.Cart_button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    background-color: #333;
}


.plus_minus{
    margin: auto;

    display: table;
     border: solid #333;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(239,238,235);; 
   
}
.vl{
    border-left: 1px solid #333;
    height: 30px;
    margin: 5px;
}
.plus{
    
    border: none;
    background: none;
    
}
.minus{
    border: none;
    background: none;
       
}
.heading_margin_remove{
    margin: 0%;
}
.items{
    width: 300px;
    
    
}
.design{
    display: flex;
    padding: 6px;
    /* border-radius: 10px; */
    justify-content: space-between;
/*     
    background-color: rgb(239,238,235); */
}
.item_design{
    font-size: 13px;
    
}

     
   

.new{
    /* margin-top: 4px;
    margin-bottom: 4px;
    margin: 4px; */
    margin-left: 10px;
    margin-right: 10px;
   font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.SImage{
    width: 20px;
    text-align: right;
    justify-content: right;
    padding: 5px;
}

@media (max-width: 730px) {
    .Product_Image{
        width: 200px;
    }
    
}
@media (max-width: 580px) {
    .items{
        width: 200px;
        
        
    }
    .Product_Cart{
        margin: 20px;
        width: 90%;
    }
    
}